/* 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  h1 {
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: white;
    height: 4rem;
    margin-top: 0;
    padding: 0.7rem;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .image {
    height: 147px;
    width: 147px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
  
  .div:hover {
    cursor: pointer;
    background-color: black;
  }
  
  .div {
    height: 160px;
    width: 160px;
    margin-left: 40px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .score {
    display: inline-block;
  }
  
  .final {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .space{
    margin: 15px;
    text-align: center;
  }
  
  .text {
    text-align: center;
    display: inline;
    background-color: black;
    color: yellow;
    border-radius: 5px;
    padding: 1rem;
  }
  /* #restart{
    text-align: center;justify-content: center;
    align-items: center;
  } */
  #restartButtonContainer{
    /* display: block; */
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin-top: 1rem;
  }
  #restartButton{
    display: inline-flex  ;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;


  }
#restartButton:hover{
    cursor: pointer;
    opacity: 0.5;
}
